.headerContenair{
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    
}
.navLien{
    text-align: center;
    padding-right: 300px;
    margin-right:30px;
    margin-left: 10px;
    color:black;
    font-weight: bold;
}
.nav{
    
    list-style-type: none;
    font-size: 30px;
    
    &:hover{
        color: gainsboro;
        box-shadow: 2px 5px 5px black;;
    }
}